<!--
  File Name: bottom_nav.ejs
  Name: Husna Bakhshi
  Id: 301194192
  Date: 23 October 2022
-->
<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text" style="padding-left: 38% !important;color: white;">&copy; Copyright 2022. All Rights reserved.</h6>
    </nav>
  </footer>