<!--
  File Name: footer.ejs
  Name: Husna Bakhshi
  Id: 301194192
  Date: 23 October 2022
-->
<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>