<!--
File Name: about.ejs
Name: Husna Bakhshi
Id: 301194192
Date: 23 October 2022
-->


<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- About me -->
  <main class="container">
    <div class="jumbotron">
        <h1 class="display-4">About me</h1>
      <div class="post-container">
        <h3 class="post-title">Husna Bakhshi</h3>
        <div class="post-thumb"><img style="
            width: 200px;
            padding-bottom: 20px;
            padding-left: 10px;" src="/Assets/images/Husna.jpeg" /></div>
        <div class="post-content">
            <p>My name is Husna Bakhshi from Afghanistan. I came to Canada in September 2018. My education in backhome is bachelor degree in 
              public Health. I also worked in Ministry of Public Health for 3 years. I am pursing Health Informatics Technology in Centennial College
              which is close to my bakground and also related to IT.  
<br/>
<br/>
Aout my personal life; I am married to my love of life which I met in here. I live a happy life with him. But my family is away from me.
              My 3 sister, 3 bothers, Mom and Dad are in Afghanistan. My wish is to invite them here to have peaceful life. 
<br/>
<br/>
Like everybody else, I have a dream! To become a great and recognized developer in relation to health. 
              In the future I want to work as national or international web developer. 
</p> </p>
            <br><br><br>
            <p>
                Please click <a href="/Assets/Resume.pdf">here </a>to view my resume.
            </p>
        </div>

    </div>
      
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  
  