<!--
File Name: contact.ejs
Name: Husna Bakhshi
Id: 301194192
Date: 23 October 2022
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Contact</h1>
      <p></p>
      <form method="post" action="/contact">
      <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 35%;margin-left: 45%;">
        <div>Name: Husna Bakhshi</div>
        
        <div>Mobile: <a href="tel:+14372199126">+1 (437) 219-9126</a></div>
        <div>e-Mail: <a href = "mailto: husnbakhshi@gmail.com">husnbakhshi@gmail.com</a></div>
      </div>
      <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 80%">
      <p><b>Please fill below form for more inquires. I will get back to you.</b></p>
        <div class="form-group">
          <label for="usr">First Name:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
          <label for="usr">Last Name:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
          <label for="usr">Contact Number:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
          <label for="usr">Email Address:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
          <label for="comment">Message:</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <input type="submit" class="btn btn-info" value="Submit">
        <p></p>
    </form>

      </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  
  