 <!--
File Name: index.ejs
Name: Husna Bakhshi
Id: 301194192
Date: 23 October 2022
-->


  <!-- Introduction and Mission statement -->
  <%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
 
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Hi, Welcome to my world</h1>
      <br>
      You can find about me <a href="/about"> here. </a>
      <br>
      <br>
      <br>
      <h3>Vision, Mission, and Values</h3>
      <p><b>Vision: </b> Changes start in a person that has the right knowledge and a growth 
        mindset. I have a vision to make a company which brings together 450+ creators and technologists who 
        have been crafting reliable solutions with lasting value for years.</p>

      <p><b>Mission: </b> Develops information systems by designing, developing, 
        and installing software solutions. Determines operational feasibility 
        by evaluating analysis, problem definition, requirements, solution 
        development, and proposed solutions.</p>

        <p><b>Values: </b> As an individual develper I have my valuses to:<br>
          <br>- Ease of maintenance.
          <br>- Ease of verification.
          <br>- Data efficiency and integrity.
          <br>- Encapsulation.
          <br>- Coupling.
          <br>- Learning to judge properly.
        </p>
      </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>



