 <!--
File Name: projects.ejs
Name: Husna Bakhshi
StuId: 301194192
Date: 23 October 2022
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  


  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">My Projects</h1>
      
    
      <table class="table table-success table-striped">
        <thead class="table-secondary">
          <tr>
          <th scope="col">#</th>
          <th scope="col">Project Name</th>
          <th scope="col">Project description</th>
          <th scope="col">Roles and responsibilities</th>
      </tr>
      </thead>
      <tbody style="font-family:Georgia; color:black"> 
        <tr class="table-secondary">
          <td scope="col">1</td>
          <td>Real Estate Website</td>
          <td>The website is made for those who seek to rent or buy property. This application provides search opiton,
            notification for new listings, appoientment making with the property owner and real estate.
            <br>
            <br>
            Click below for more detail: 
            <br>
            <a href="hhttp://studentweb.cencol.ca/hbakhsh1/Home.html" 
            target="_blank"><img src="/Assets/images/real.jpeg" 
            width="60" height="60"></a>
          </td>
          <td>
            <ul>
              <li>Property listing for both buyer and seller.</li>
              <li>Search for active listings.</li>
              <li>Contact with the real estate agenda.</li>
              <li>Sitemap for the listed property</li>
          </ul>
          </td></tr>
        <tr class="table-secondary">
          <td scope="col">2</td>
          <td>BMR Calculation Form</td>
          <td>This Body Mass Index form is made for users to calculate thier BMR.
            <br>
            <br>
            Click below for more detail: 
            <br>
         
             <a href="http://studentweb.cencol.ca/hbakhsh1/assignment1.html" 
            target="_blank"><img src="/Assets/images/bmi.jpeg" 
            width="60" height="60"></a>
          </td>
          <td>
            <ul>
              <li>They can insert hight in meter inches, and feet,</li>
              <li>The users can insert weight in kilo and pound</li>
              <li>They can calculate the BMR in metric and imperial</li>
            </ul>
          </td>
        </tr>
        <tr class="table-secondary">
          <td scope="col">3</td>
          <td>Check Weather Application</td>
          <td>The application is developed to cheack the weather in any city in Canada. 
            <br>
            <br>
            Click below for more detail: 
            <br>
             <a href="http://studentweb.cencol.ca/hbakhsh1/weather.html" 
            target="_blank"><img src="/Assets/images/weather.png" 
            width="60" height="60"></a>
          </td>
          <td>
            <ul>
              <li> Search for weather in any location within Canada</li>
              <li>Forcast the weather for the rest of the week</li>
            </ul>
          </td>
        </tr>
      </tbody>
      </table>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  