 <!--
File Name: services.ejs
Name: Husna Bakhshi
Id: 301194192
Date: 23 October 2022
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!--My Services Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Services</h1>
      <div>
      <p>Following services will be carried out:</p>
      <ul>
        <li>Website Develpment</li>
        <li>Website Design</li>
        <li>DevOps</li>
        <li>QA</li>
        <li>SQL Server</li>
        <li>Web API</li>
        <li>Angular</li>
        <li>JavaScript</li>
      </ul>
    </div>
      
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  